.profilePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto; }
  .profilePage #updateProfile {
    padding: 10px;
    margin-top: 10rem;
    margin-bottom: 3.5rem;
    width: 80%;
    min-width: 270px !important;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px; }
    @media screen and (max-width: 850px) {
      .profilePage #updateProfile {
        margin-top: 10rem;
        margin-bottom: 3.5rem; } }
    @media screen and (max-height: 555px) {
      .profilePage #updateProfile {
        margin-top: 150px;
        margin-bottom: 50px; } }
    .profilePage #updateProfile form {
      width: 100%;
      height: 100%;
      min-height: 400px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profilePage #updateProfile form h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--logo-color);
        margin: 10px 0;
        opacity: 0.7;
        text-align: center;
        margin-bottom: 30px; }
        @media screen and (max-width: 850px) {
          .profilePage #updateProfile form h2 {
            margin-bottom: 1.5rem; } }
      .profilePage #updateProfile form .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2.5rem; }
        @media screen and (max-width: 800px) {
          .profilePage #updateProfile form .form-container {
            flex-direction: column;
            gap: 3rem;
            margin-top: 1rem; } }
        .profilePage #updateProfile form .form-container .upload-wrapper {
          position: relative;
          bottom: 25px;
          overflow: hidden;
          display: inline-block;
          min-width: 250px;
          min-height: 250px;
          border-radius: 100%;
          box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5);
          z-index: 1; }
          .profilePage #updateProfile form .form-container .upload-wrapper img {
            width: 100%;
            height: 100%;
            margin: 0%;
            padding: 0%;
            -o-object-fit: cover;
            -o-object-position: center;
            -mz-object-fit: cover;
            -mz-object-position: center;
            -webkit-object-fit: cover;
            -webkit-object-position: center;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1/1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1; }
          .profilePage #updateProfile form .form-container .upload-wrapper:hover {
            transition: 200ms filter linear;
            filter: grayscale(1); }
          @media screen and (max-width: 500px) {
            .profilePage #updateProfile form .form-container .upload-wrapper {
              min-width: 170px;
              min-height: 170px; } }
        .profilePage #updateProfile form .form-container input[type="file"],
        .profilePage #updateProfile form .form-container input[type="file"]::-webkit-file-upload-button {
          cursor: pointer; }
        .profilePage #updateProfile form .form-container .upload-wrapper input[type="file"] {
          cursor: pointer;
          font-size: 300px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 2; }
        .profilePage #updateProfile form .form-container .info {
          width: 60%;
          height: 60%; }
          @media screen and (max-width: 800px) {
            .profilePage #updateProfile form .form-container .info {
              width: 100%; } }
          .profilePage #updateProfile form .form-container .info .form-group {
            margin-bottom: 1rem; }
            .profilePage #updateProfile form .form-container .info .form-group label {
              display: block;
              margin-bottom: 0.5rem;
              font-size: 1rem;
              font-weight: 600;
              color: var(--logo-color); }
            .profilePage #updateProfile form .form-container .info .form-group input {
              box-shadow: none;
              outline: none;
              border: none;
              border-radius: 0%;
              border-bottom: 1px solid var(--logo-color);
              background: transparent;
              color: var(--logo-color);
              font-weight: 400;
              letter-spacing: 0.02rem; }
              .profilePage #updateProfile form .form-container .info .form-group input::placeholder {
                color: var(--logo-color);
                opacity: 0.7; }
              .profilePage #updateProfile form .form-container .info .form-group input:focus {
                box-shadow: none;
                outline: none;
                border-bottom: 1px solid var(--logo-color); }
          .profilePage #updateProfile form .form-container .info .submit-btn {
            margin-top: 10px;
            -webkit-appearance: none;
            background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
            background: linear-gradient(to right, #1bb364 0%, #052a3b 50%, #ec2614 100%);
            background-size: 500%;
            border: none;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            color: #fff;
            cursor: pointer;
            font: 1.5em Raleway, sans-serif;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            height: 3.5rem;
            letter-spacing: 0.05em;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;
            color: #000000; }
            .profilePage #updateProfile form .form-container .info .submit-btn:hover {
              animation-name: gradient;
              -webkit-animation-name: gradient;
              animation-duration: 2s;
              -webkit-animation-duration: s;
              animation-iteration-count: 1;
              -webkit-animation-iteration-count: 1;
              animation-fill-mode: forwards;
              -webkit-animation-fill-mode: forwards; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100%; } }
